<div class="modal fade exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail FTP</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" id="tableftp" style="display: none;">
                    <table class="table table-centered table-nowrap">
                        <thead>
                        <tr>
                            <th scope="col">Hôte</th>
                            <th scope="col">Identifiant</th>
                            <th scope="col">Mot de passe</th>
                            <th scope="col">Port</th>
                        </tr>
                        </thead>
                        <tbody id="ftpcontent"></tbody>
                    </table>
                </div>
                 <div class="row">
                     <div  id="addftp" style="display: none;position: absolute;left: 50%;top: 50%; transform: translate(-50%,-50%);padding-top: 30px;padding-bottom: 30px;">
                         <button class="btn btn-sm btn-info">Definir</button>
                     </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
