{% extends 'layouts/design.twig' %}

{% block body %}
 <div class="main-content">
     <div class="page-content">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-12">
                     <div class="page-title-box d-flex align-items-center justify-content-between">
                         <h4 class="mb-0 font-size-18">Utils</h4>

                         <div class="page-title-right">
                             <ol class="breadcrumb m-0">
                                 <li class="breadcrumb-item"><a href="javascript: void(0);">Nom de domaine</a></li>
                                 <li class="breadcrumb-item active">Vérification</li>
                             </ol>
                         </div>

                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-xl-12">
                     <div class="card">
                         <div class="card-body">
                             <div class="clearfix">
                                 <h4 class="card-title mb-4">Verification de nom de domaine</h4>
                             </div>

                             <div class="form-group row">
                                 <div class="col-md-10">
                                     <input class="form-control" type="text" value="" id="domainName">
                                 </div>
                                 <div class="col-md-2">
                                     <button class="btn btn-primary" type="submit" id="domainchecker">Vérifier</button>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-xl-12">
                     <div class="card"  id="cardResultat" style="display:none;">
                         <div class="card-body">
                           <div id="resultat"></div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

     </div>
 </div>

{% endblock %}