</div>

<!-- JAVASCRIPT -->
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>

<!-- apexcharts -->
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>


<script src="/assets/libs/toastr/build/toastr.min.js"></script>


<script src="/assets/js/pages/apexcharts.init.js"></script>

<!-- toastr init -->
<script src="/assets/js/pages/toastr.init.js"></script>

<!-- bootstrap datepicker -->
<script src="/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<!-- Summernote js -->
<script src="/assets/libs/summernote/summernote-bs4.min.js"></script>

<script src="/assets/libs/dropzone/min/dropzone.min.js"></script>


<script src="/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script src="/assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/assets/libs/select2/js/select2.min.js"></script>
<!-- Sweet alert init js-->
<script src="/assets/js/pages/sweet-alerts.init.js"></script>

<script src="/assets/js/pages/task-create.init.js"></script>

<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>


<!-- App js -->
<script src="/assets/js/app.js"></script>

<script src="/assets/js/pages/project-overview.init.js"></script>

<script src="/assets/js/pages/datatables.init.js"></script>

<script src="/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/assets/js/pages/form-advanced.init.js"></script>

<script src="/assets/libs/jquery-countdown/jquery.countdown.min.js"></script>


<script src="/assets/js/pages/saas-dashboard.init.js"></script>
<script src="/assets/js/pages/coming-soon.init.js"></script>
<script src="/assets/js/pages/form-element.init.js"></script>


<script src="/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<script src="/assets/js/pages/range-sliders.init.js"></script>

<script src="/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- lightbox init js-->
<script src="/assets/js/pages/lightbox.init.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


<script src="/js/components.js"></script>
<script src="/js/Utils.js"></script>
<script src="/js/Projet.js"></script>
<script src="/js/Chat.js"></script>
<script src="/js/Otp.js"></script>
<script src="/js/Contact.js"></script>
<script src="/js/Profil.js"></script>
<script src="/js/ServerFtp.js"></script>
<script src="/js/Parameters.js"></script>
<script src="/js/Gestion.js"></script>
<script src="/js/Invoice.js"></script>
<script src="/js/Developer.js"></script>
<script src="/js/User.js"></script>
<script src="/js/Media.js"></script>

</body>

